<footer>
    <div class="hetico-forms container">
        <div class="forms-wrapper">
            <form action="#" >
                <legend>Заполните форму</legend>
                <label>Имя</label>
                <input type="text" name="name" required>
                <label>Номер телефона</label>
                <input type="tel" name="phone" required>
                <label>Выбор проблемы</label>
                <select name="problem" id="problem"><option value="1">Ваш авиарейс задерживают</option></select>
                <label>Номер рейса</label>
                <input type="text" name="flight-number" required>
                <label>Дата вылета</label>
                <input type="date" name="date" required>
                <a class="btn"><i class="icon-paper-plane"></i>Отправить</a>
            </form>
        </div>
        <div class="forms-wrapper">
            <p class="title-info">Независимая адвокатская компания “Климчук и Партнеры” предоставляет решение юридических задач любой сложности.
                На протяжении семи лет ее сотрудники защищают права и свободы граждан Украины, эффективно отстаивают их интересы в судах на территории страны и за ее пределами.</p>
            <div class="adress">
                <h4>Остались вопросы?</h4>
                <a href="tel:0999000742"><i class="icon-phone"></i>(099) 900-07-42</a>
                <p><i class="icon-location"></i> ул. Саксаганского 58, офис 6</p>
            </div>
            <a href="#" class="icon"><i class="icon-facebook"></i></a>
            <a href="#" class="icon"><i class="icon-instagram"></i></a>
            <a href="#" class="icon"><i class="icon-twitter"></i></a>
        </div>
    </div>
    <div class="copy"><p>Hetico © Copyright 2018. All Rights Reserved. Designed by <a href="#">BlueBird.</a></p></div>
</footer>